<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View Processed Image</title>
  <style>
    body { font-family: Arial, sans-serif; text-align: center; margin-top: 50px; }
    h1 { color: #333; }
    img {
      max-width: 90%;
      height: auto;
      border: 2px solid #555;
      margin-top: 20px;
    }
    a {
      display: inline-block;
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      margin: 20px 0;
      text-decoration: none;
      cursor: pointer;
    }
    a:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>
  <h1>Processed Image</h1>
  <a href="#" onclick="downloadAll()">Download All Processed Images</a>
  <br>

  {% for filename in filenames %}
    <img src="{{ url_for('processed_file', filename=filename) }}" alt="Processed Image">
    <br>
    <a href="{{ url_for('processed_file', filename=filename) }}" download>Download Processed Image</a>
    <br>
  {% endfor %}

  <script>
    function downloadAll() {
      var downloadLinks = document.querySelectorAll('[download]');
      for (var i = 0; i < downloadLinks.length; i++) {
        // create temporary link for download
        var link = document.createElement('a'); 
        link.href = downloadLinks[i].href; 
        link.setAttribute('download', ''); 
        link.style.display = 'none';
        document.body.appendChild(link);
        link.click(); 
        document.body.removeChild(link); 
      }
    }
  </script>
</body>
</html>
